@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap');
.signup-login{
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 1fr;
}

.signup-login-main{
    height: 100vh;
    font-family: 'Inter', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/tech.jpg");
}

.signup-login-form{
    grid-column: 2 / span 1;
    grid-row: 1/ span 1;
    height: 100vh;
    padding-top: 30px;
}

.form-logo{
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    grid-template-rows: 1fr;
    padding-bottom: 60px;
}

.form-logo-header{
    margin: auto;
    margin-top: 20px;
    font-size: 50px;
    font-weight: 700;
    grid-column: 2/ span 1;
    grid-row: 2/ span 1;
    font-family: 'Jura', sans-serif;
}

.form-title{
    margin-bottom: 80px;
}

.form-title h2{
    float: right;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-right: 15px;
}

.form-input-group{
    width: 92%;
    border-radius: 15px;
    margin: auto;
    border-color: black;
    color: black;
    margin-top: 30px;
}

.form-button-group{
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    margin-top: 100px;
    margin-bottom: 130px;
}

.form-button{
    background-color: #D9594C;
    border-color: #D9594C;
    margin: auto;
    grid-column: 2 / span 1;
    width: 35%;
    min-width: 100px;
    border-radius: 20px;
}

.form-links{
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    width: 100%;
}

.form-link-h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin: auto;
    text-align: center;
    grid-column: 2 / span 1;
}

.form-link-h1 a{
    text-decoration: none;
    color: black;
}

.form-terms{
    display:grid;
    width: 95%;
    margin: auto;
    margin-top: 25px;

}
.form-terms h1{
    float: right;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 10px;
    text-align: right;
}

.form-check{
    margin-left: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
}
